<style>
    .sect_three{
        background-color:rgb(10, 45, 34); 
        margin-bottom: 0px;
        color: white;
    }
    .footer-header{
        display:grid;
         grid-template-columns: 1fr 1fr 1fr;
         column-gap: 100px;
        font-weight: 700;
        font-size: 20px; 
        margin-left: 150px;
    }
    .text{
         display:grid;
         grid-template-columns: 2fr 2fr 2fr;
         column-gap: 40px;
         margin: 10px;
         margin-left: 30px;
         margin-right: 30px;
        
    }
    .footer{
        color: red;
        margin-top: -10px;
        background-color:rgb(10, 45, 34); 
        margin-bottom: 0px;
        margin-left: 43%;
    }
    
</style>
<section class="sect_three">
    <div class="footer-header">
        <p>Strategies</p>
        <p>Growth</p>
        <p>Successes</p>    
    </div>
   
    <div class="text">
        <p>     •	Advocacy Programs and Trainings. <br>
                •	Rallies and Campaigns. <br>
                •	Sensitization and Awareness. <br>
                
        </p>
        <p>From inception, since 2018, ZAF Nigeria has tremendously increased exponentially in size and structure. The Foundation has recorded by number over 1.2K Ambassadors across Nigeria and beyond – in diaspora.
                ZAF Nigeria has positively impacted incalculable lives through Advocacy Programs and Sensitization.
            </p>
             
        <p>     1.	Sensitization on “Taming the Scourge of Rape” (#RapeIsCriminal Campaign). <br>
                2.	Sensitization on “Eradicating and Eliminating the Monster of Suicide in Our Society” (#KickOutSuicide Campaign). <br>
                3.	Sensitization on “Leadership & Capacity Development in Building a Sustainable Society void of Social Ills” (#FixTheMind Campaign). <br>
                4.	Reaching Out to over 500 hundred Streets, Rural and Less Privileged Children (Operation Shoe and Clothe the Child) <br>
                </p> 
                
    </div>
    <div class="footer">
       <p>Copyright @, Zaf Nigeria 2023</p> 
    </div>
  
</section>