{% load static%}      
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'navbar.css' %}"> <!-- Link to your custom CSS file -->
  <title>Your Website</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="{% static 'images/zaf.png' %}" alt="zaf logo" srcset="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about'%}">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'gallery'%}">Gallery</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'publication_api'%}">Publication</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'joinus'%}">Join Us</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact'%}">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="donate-link" href="{% url 'donate'%}">Donate</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <!-- Your content goes here -->
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
