{% include 'navbar.html'%}
{% load static%}

<html>
<head>
  <title>Publication Page</title>
  <link rel="stylesheet" type="text/css" href="{% static 'publication.css' %}">
  <style>
      .header{
            color: white;
            display: flex;
            background-color: rgb(157, 211, 229);
            height: 60px;
            align-items:center;
            justify-content: center;
            margin-top: 5.5%;
      }
  </style>
</head>
<body>
    <div>
        <h1 class="header">Our Publication</h1>
    </div>
        <div class="container">
                <h1>Latest Publication</h1>
                {% if publication %}
                <div id="publication-details">
                    <img id="publication-photo" src="{{ publication.photo_url }}" alt="Publication Photo">
                    <h2 id="publication-title">{{ publication.title }}</h2>
                    <p id="publication-context">{{ publication.context }}</p>
                </div>
                <div class="social-share">
                    <a href="#" class="share-facebook">Share on Facebook</a>
                    <a href="#" class="share-twitter">Share on Twitter</a>
                    <a href="#" class="like">Like</a>
                </div>
                {% else %}
                <p>{{ error }}</p>
                {% endif %}
            </div>

  
  </body>
{% include 'footer.html'%}
</html>