
    *{
        margin: 0px;
        padding: 0px;
    }
    h1{
        color: white;
        display: flex;
        background-color: aqua;
        height: 90px;
        align-items:center;
        justify-content: center;
    }
    
    .p{
        width: 850px;
        font-size: 25px;
    }
    .div{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
        margin-left: 15%;
        margin-top: 60px;   
    }
    .success-message {
        color: green;
        font-weight: bold;
    }
    #contact-phone {
        font-size: 20px;
        color: #333;
        margin-bottom: 20px;
    }
    #contact-mail{
        font-size: 20px;
        color: #333;
        margin-bottom: 20px;

    }
    .form-control{
        width: 500px;
    }


    
