#image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 34px;
    margin-bottom: 0;
}

.image {
    text-align: center;
    margin: 6px;
    
}
.image img {
    
    width: 250px;
    
}

