        
        .group{
            width: 50%;
            margin-left: 30%;
            margin-top: 20px;           
        }
        
        .form-group{
            color: black;
        }
        